* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or {
  cursor: pointer;
}

.oracle {
  display: flex;
  justify-content: center;
}

.button {

  background-color: lightBlue;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: lightblue;
  color: white;
}

#navbar {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

.button-container {
  width: 555px;
  overflow-y: auto;
}

.button-container>button {
  width: 70px;
  height: 70px;
  float: left;
  background: lightgray;
  margin: 5px;
}